#section1 {
    border-style: solid;
    border-radius: 5px;
    border-color: green;
    color: rgb(59, 98, 53);
    background-color: rgb(196, 226, 208);
    margin: 2px 2px 15px 10px;
    width: 30%;
    font-style: italic;
    font-weight: 800;
}
#section2 {
    border-style: solid;
    border-radius: 5px;
    border-color: green;
    color: rgb(59, 98, 53);
    background-color: rgb(196, 226, 208);
    margin: 2px 0px 15px 10px;
    width: 30%;
    font-style: italic;
    font-weight: 800;
}
#submit {
    border: solid;
    border-color: rgb(39, 45, 23);
    border-radius: 4px;
    background-color: rgb(156, 202, 139);;
}
legend {
    color: rgb(26, 67, 27);
    font-size: large;
}